<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>yuantong</string>
		<key>name</key>
		<string>圆通快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>shentong</string>
		<key>name</key>
		<string>申通快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>shunfeng</string>
		<key>name</key>
		<string>顺丰快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yunda</string>
		<key>name</key>
		<string>韵达快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>debangwuliu</string>
		<key>name</key>
		<string>德邦物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zhongtong</string>
		<key>name</key>
		<string>中通快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>huitongkuaidi</string>
		<key>name</key>
		<string>百事快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>youzhengguonei</string>
		<key>name</key>
		<string>邮政包裹</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ems</string>
		<key>name</key>
		<string>EMS</string>
	</dict>
	<dict>
		<key>code</key>
		<string>aolau</string>
		<key>name</key>
		<string>AOL澳通速递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>a2u</string>
		<key>name</key>
		<string>A2U速递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>annengwuliu</string>
		<key>name</key>
		<string>安能物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>anxl</string>
		<key>name</key>
		<string>安迅物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>auexpress</string>
		<key>name</key>
		<string>澳邮中国快运</string>
	</dict>
	<dict>
		<key>code</key>
		<string>aae</string>
		<key>name</key>
		<string>AAE快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yzgn</string>
		<key>name</key>
		<string>包裹/平邮/挂号信</string>
	</dict>
	<dict>
		<key>code</key>
		<string>balunzhi</string>
		<key>name</key>
		<string>巴伦支快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>xiaohongmao</string>
		<key>name</key>
		<string>北青小红帽</string>
	</dict>
	<dict>
		<key>code</key>
		<string>htky</string>
		<key>name</key>
		<string>百世快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bfdf</string>
		<key>name</key>
		<string>百福东方物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bangsongwuliu</string>
		<key>name</key>
		<string>邦送物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lbbk</string>
		<key>name</key>
		<string>宝凯物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bqcwl</string>
		<key>name</key>
		<string>百千诚物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>byht</string>
		<key>name</key>
		<string>博源恒通</string>
	</dict>
	<dict>
		<key>code</key>
		<string>idada</string>
		<key>name</key>
		<string>百成大达物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>baishiwuliu</string>
		<key>name</key>
		<string>百世快运</string>
	</dict>
	<dict>
		<key>code</key>
		<string>baitengwuliu</string>
		<key>name</key>
		<string>百腾物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>birdex</string>
		<key>name</key>
		<string>笨鸟海淘</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bsht</string>
		<key>name</key>
		<string>百事亨通</string>
	</dict>
	<dict>
		<key>code</key>
		<string>benteng</string>
		<key>name</key>
		<string>奔腾物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>coe</string>
		<key>name</key>
		<string>COE（东方快递）</string>
	</dict>
	<dict>
		<key>code</key>
		<string>city100</string>
		<key>name</key>
		<string>城市100</string>
	</dict>
	<dict>
		<key>code</key>
		<string>chuanxiwuliu</string>
		<key>name</key>
		<string>传喜物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>chengjisudi</string>
		<key>name</key>
		<string>城际速递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lijisong</string>
		<key>name</key>
		<string>成都立即送</string>
	</dict>
	<dict>
		<key>code</key>
		<string>chukou1</string>
		<key>name</key>
		<string>出口易</string>
	</dict>
	<dict>
		<key>code</key>
		<string>nanjingshengbang</string>
		<key>name</key>
		<string>晟邦物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>flyway</string>
		<key>name</key>
		<string>程光快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>dhl&quot; titleDHL国际快递查询</string>
		<key>name</key>
		<string>DHL快递（中国件）</string>
	</dict>
	<dict>
		<key>code</key>
		<string>dhlen</string>
		<key>name</key>
		<string>DHL（国际件）</string>
	</dict>
	<dict>
		<key>code</key>
		<string>dhlde</string>
		<key>name</key>
		<string>DHL（德国件）</string>
	</dict>
	<dict>
		<key>code</key>
		<string>dbwl&quot; title德邦单号查询</string>
		<key>name</key>
		<string>德邦</string>
	</dict>
	<dict>
		<key>code</key>
		<string>dtwl</string>
		<key>name</key>
		<string>大田物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>coe</string>
		<key>name</key>
		<string>东方快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>disifang</string>
		<key>name</key>
		<string>递四方</string>
	</dict>
	<dict>
		<key>code</key>
		<string>dayangwuliu</string>
		<key>name</key>
		<string>大洋物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>diantongkuaidi</string>
		<key>name</key>
		<string>店通快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>dechuangwuliu</string>
		<key>name</key>
		<string>德创物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>donghong</string>
		<key>name</key>
		<string>东红物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>dskd</string>
		<key>name</key>
		<string>D速物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>donghanwl</string>
		<key>name</key>
		<string>东瀚物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>dfpost</string>
		<key>name</key>
		<string>达方物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>dongjun</string>
		<key>name</key>
		<string>东骏快捷物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>dindon</string>
		<key>name</key>
		<string>叮咚澳洲转运</string>
	</dict>
	<dict>
		<key>code</key>
		<string>dazhong</string>
		<key>name</key>
		<string>大众佐川急便</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ems&quot; titleems快递查询</string>
		<key>name</key>
		<string>EMS快递查询</string>
	</dict>
	<dict>
		<key>code</key>
		<string>emsguoji</string>
		<key>name</key>
		<string>EMS国际快递查询</string>
	</dict>
	<dict>
		<key>code</key>
		<string>eshunda</string>
		<key>name</key>
		<string>俄顺达</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ewe</string>
		<key>name</key>
		<string>EWE全球快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>fedex</string>
		<key>name</key>
		<string>FedEx快递查询</string>
	</dict>
	<dict>
		<key>code</key>
		<string>fedex&quot; titlefedex国际快递查询</string>
		<key>name</key>
		<string>FedEx国际件</string>
	</dict>
	<dict>
		<key>code</key>
		<string>fedexus</string>
		<key>name</key>
		<string>FedEx（美国）</string>
	</dict>
	<dict>
		<key>code</key>
		<string>fox</string>
		<key>name</key>
		<string>FOX国际速递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>rufengda</string>
		<key>name</key>
		<string>凡客如风达</string>
	</dict>
	<dict>
		<key>code</key>
		<string>fkd</string>
		<key>name</key>
		<string>飞康达物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>feibaokuaidi</string>
		<key>name</key>
		<string>飞豹快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>feihukuaidi</string>
		<key>name</key>
		<string>飞狐快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>fanyukuaidi</string>
		<key>name</key>
		<string>凡宇速递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>fandaguoji</string>
		<key>name</key>
		<string>颿达国际</string>
	</dict>
	<dict>
		<key>code</key>
		<string>feiyuanvipshop</string>
		<key>name</key>
		<string>飞远配送</string>
	</dict>
	<dict>
		<key>code</key>
		<string>hnfy</string>
		<key>name</key>
		<string>飞鹰物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>fengxingtianxia</string>
		<key>name</key>
		<string>风行天下</string>
	</dict>
	<dict>
		<key>code</key>
		<string>flysman</string>
		<key>name</key>
		<string>飞力士物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>fbkd</string>
		<key>name</key>
		<string>飞邦快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gaticn</string>
		<key>name</key>
		<string>GATI快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gts</string>
		<key>name</key>
		<string>GTS快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>guotongkuaidi</string>
		<key>name</key>
		<string>国通快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yzgj</string>
		<key>name</key>
		<string>国际邮件查询</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ndkd</string>
		<key>name</key>
		<string>港中能达物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yzgn</string>
		<key>name</key>
		<string>挂号信/国内邮件</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gongsuda</string>
		<key>name</key>
		<string>共速达</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gtongsudi</string>
		<key>name</key>
		<string>广通速递（山东）</string>
	</dict>
	<dict>
		<key>code</key>
		<string>suteng</string>
		<key>name</key>
		<string>速腾物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gdkd</string>
		<key>name</key>
		<string>港快速递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>hre</string>
		<key>name</key>
		<string>高铁速递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gda</string>
		<key>name</key>
		<string>冠达快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tdhy</string>
		<key>name</key>
		<string>华宇物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>hl</string>
		<key>name</key>
		<string>恒路物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>hlyex</string>
		<key>name</key>
		<string>好来运快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>hxl</string>
		<key>name</key>
		<string>华夏龙物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tt</string>
		<key>name</key>
		<string>海航天天</string>
	</dict>
	<dict>
		<key>code</key>
		<string>hebeijianhua</string>
		<key>name</key>
		<string>河北建华</string>
	</dict>
	<dict>
		<key>code</key>
		<string>haimengsudi</string>
		<key>name</key>
		<string>海盟速递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>huaqikuaiyun</string>
		<key>name</key>
		<string>华企快运</string>
	</dict>
	<dict>
		<key>code</key>
		<string>haosheng</string>
		<key>name</key>
		<string>昊盛物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>hutongwuliu</string>
		<key>name</key>
		<string>户通物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>hzpl</string>
		<key>name</key>
		<string>华航快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>huangmajia</string>
		<key>name</key>
		<string>黄马甲快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ucs</string>
		<key>name</key>
		<string>合众速递（UCS）</string>
	</dict>
	<dict>
		<key>code</key>
		<string>pfcexpress</string>
		<key>name</key>
		<string>皇家物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>huoban</string>
		<key>name</key>
		<string>伙伴物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>nedahm</string>
		<key>name</key>
		<string>红马速递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>huiwen</string>
		<key>name</key>
		<string>汇文配送</string>
	</dict>
	<dict>
		<key>code</key>
		<string>nmhuahe</string>
		<key>name</key>
		<string>华赫物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>hjs</string>
		<key>name</key>
		<string>猴急送</string>
	</dict>
	<dict>
		<key>code</key>
		<string>hangyu</string>
		<key>name</key>
		<string>航宇快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>huilian</string>
		<key>name</key>
		<string>辉联物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>huanqiu</string>
		<key>name</key>
		<string>环球速运</string>
	</dict>
	<dict>
		<key>code</key>
		<string>huada</string>
		<key>name</key>
		<string>华达快运</string>
	</dict>
	<dict>
		<key>code</key>
		<string>htwd</string>
		<key>name</key>
		<string>华通务达物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>hipito</string>
		<key>name</key>
		<string>海派通</string>
	</dict>
	<dict>
		<key>code</key>
		<string>hqtd</string>
		<key>name</key>
		<string>环球通达</string>
	</dict>
	<dict>
		<key>code</key>
		<string>airgtc</string>
		<key>name</key>
		<string>航空快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>haoyoukuai</string>
		<key>name</key>
		<string>好又快物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ccd</string>
		<key>name</key>
		<string>河南次晨达</string>
	</dict>
	<dict>
		<key>code</key>
		<string>iparcel</string>
		<key>name</key>
		<string>i-parcel</string>
	</dict>
	<dict>
		<key>code</key>
		<string>jjwl</string>
		<key>name</key>
		<string>佳吉物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>jywl</string>
		<key>name</key>
		<string>佳怡物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>jymwl</string>
		<key>name</key>
		<string>加运美快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>jxd</string>
		<key>name</key>
		<string>急先达物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>jgsd</string>
		<key>name</key>
		<string>京广速递快件</string>
	</dict>
	<dict>
		<key>code</key>
		<string>jykd</string>
		<key>name</key>
		<string>晋越快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>jd</string>
		<key>name</key>
		<string>京东快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>jietekuaidi</string>
		<key>name</key>
		<string>捷特快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>jiuyicn</string>
		<key>name</key>
		<string>久易快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>jiuyescm</string>
		<key>name</key>
		<string>九曳供应链</string>
	</dict>
	<dict>
		<key>code</key>
		<string>junfengguoji</string>
		<key>name</key>
		<string>骏丰国际速递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>jiajiatong56</string>
		<key>name</key>
		<string>佳家通</string>
	</dict>
	<dict>
		<key>code</key>
		<string>jrypex</string>
		<key>name</key>
		<string>吉日优派</string>
	</dict>
	<dict>
		<key>code</key>
		<string>jinchengwuliu</string>
		<key>name</key>
		<string>锦程国际物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>jgwl</string>
		<key>name</key>
		<string>景光物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>pzhjst</string>
		<key>name</key>
		<string>急顺通</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ruexp</string>
		<key>name</key>
		<string>捷网俄全通</string>
	</dict>
	<dict>
		<key>code</key>
		<string>jialidatong</string>
		<key>name</key>
		<string>嘉里大通</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kjkd</string>
		<key>name</key>
		<string>快捷快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kangliwuliu</string>
		<key>name</key>
		<string>康力物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kuayue</string>
		<key>name</key>
		<string>跨越速运</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kuaiyouda</string>
		<key>name</key>
		<string>快优达速递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kuaitao</string>
		<key>name</key>
		<string>快淘快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lianb</string>
		<key>name</key>
		<string>联邦快递（国内）</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lhtwl</string>
		<key>name</key>
		<string>联昊通物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lb</string>
		<key>name</key>
		<string>龙邦速递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lejiedi</string>
		<key>name</key>
		<string>乐捷递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lijisong</string>
		<key>name</key>
		<string>立即送</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lanhukuaidi</string>
		<key>name</key>
		<string>蓝弧快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ltexp</string>
		<key>name</key>
		<string>乐天速递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lutong</string>
		<key>name</key>
		<string>鲁通快运</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mh</string>
		<key>name</key>
		<string>民航快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>meiguokuaidi</string>
		<key>name</key>
		<string>美国快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>menduimen</string>
		<key>name</key>
		<string>门对门</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mingliangwuliu</string>
		<key>name</key>
		<string>明亮物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>minbangsudi</string>
		<key>name</key>
		<string>民邦速递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>minshengkuaidi</string>
		<key>name</key>
		<string>闽盛快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mailikuaidi</string>
		<key>name</key>
		<string>麦力快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yundaexus</string>
		<key>name</key>
		<string>美国韵达</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mchy</string>
		<key>name</key>
		<string>木春货运</string>
	</dict>
	<dict>
		<key>code</key>
		<string>meiquick</string>
		<key>name</key>
		<string>美快国际物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ndkd</string>
		<key>name</key>
		<string>能达速递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>nuoyaao</string>
		<key>name</key>
		<string>偌亚奥国际</string>
	</dict>
	<dict>
		<key>code</key>
		<string>pingandatengfei</string>
		<key>name</key>
		<string>平安达腾飞</string>
	</dict>
	<dict>
		<key>code</key>
		<string>peixingwuliu</string>
		<key>name</key>
		<string>陪行物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>qfkd</string>
		<key>name</key>
		<string>全峰快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>qy</string>
		<key>name</key>
		<string>全一快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>qrt</string>
		<key>name</key>
		<string>全日通快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>qckd</string>
		<key>name</key>
		<string>全晨快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sevendays</string>
		<key>name</key>
		<string>7天连锁物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>qbexpress</string>
		<key>name</key>
		<string>秦邦快运</string>
	</dict>
	<dict>
		<key>code</key>
		<string>quanxintong</string>
		<key>name</key>
		<string>全信通快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>quansutong</string>
		<key>name</key>
		<string>全速通国际快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>qinyuan</string>
		<key>name</key>
		<string>秦远物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>qichen</string>
		<key>name</key>
		<string>启辰国际物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>quansu</string>
		<key>name</key>
		<string>全速快运</string>
	</dict>
	<dict>
		<key>code</key>
		<string>qzx56</string>
		<key>name</key>
		<string>全之鑫物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>rufengda</string>
		<key>name</key>
		<string>如风达快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>riyuwuliu</string>
		<key>name</key>
		<string>日昱物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>rfsd</string>
		<key>name</key>
		<string>瑞丰速递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>rrs</string>
		<key>name</key>
		<string>日日顺物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>rytsd</string>
		<key>name</key>
		<string>日益通速递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>st&quot; title申通快递查询</string>
		<key>name</key>
		<string>申通快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sf</string>
		<key>name</key>
		<string>顺丰速运</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sewl&quot; title速尔快递单号查询</string>
		<key>name</key>
		<string>速尔快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>haihongwangsong&quot; title山东海红快递单号查询</string>
		<key>name</key>
		<string>山东海红</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sh</string>
		<key>name</key>
		<string>盛辉物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>shiyunkuaidi</string>
		<key>name</key>
		<string>世运快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sfwl</string>
		<key>name</key>
		<string>盛丰物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>shangda</string>
		<key>name</key>
		<string>上大物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>stsd</string>
		<key>name</key>
		<string>三态速递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>saiaodi</string>
		<key>name</key>
		<string>赛澳递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ewl&quot; title申通快递查询</string>
		<key>name</key>
		<string>申通E物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>shenganwuliu&quot; title圣安物流查询</string>
		<key>name</key>
		<string>圣安物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sxhongmajia</string>
		<key>name</key>
		<string>山西红马甲</string>
	</dict>
	<dict>
		<key>code</key>
		<string>suijiawuliu&quot; title穗佳物流</string>
		<key>name</key>
		<string>穗佳物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>syjiahuier&quot; title沈阳佳惠尔</string>
		<key>name</key>
		<string>沈阳佳惠尔</string>
	</dict>
	<dict>
		<key>code</key>
		<string>shlindao</string>
		<key>name</key>
		<string>上海林道货运</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sfift</string>
		<key>name</key>
		<string>十方通物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gtongsudi</string>
		<key>name</key>
		<string>山东广通速递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>shunjiefengda</string>
		<key>name</key>
		<string>顺捷丰达</string>
	</dict>
	<dict>
		<key>code</key>
		<string>subida</string>
		<key>name</key>
		<string>速必达物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>stcd</string>
		<key>name</key>
		<string>速通成达物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>suteng</string>
		<key>name</key>
		<string>速腾快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tnt&quot; titleTNT国际快递查询</string>
		<key>name</key>
		<string>TNT快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tt</string>
		<key>name</key>
		<string>天天快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tdhy&quot; title天地华宇单号查询</string>
		<key>name</key>
		<string>天地华宇</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tonghetianxia</string>
		<key>name</key>
		<string>通和天下</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tianzong</string>
		<key>name</key>
		<string>天纵物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>chinatzx</string>
		<key>name</key>
		<string>同舟行物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>nntengda</string>
		<key>name</key>
		<string>腾达速递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sd138</string>
		<key>name</key>
		<string>泰国138</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tongdaxing</string>
		<key>name</key>
		<string>通达兴物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ups</string>
		<key>name</key>
		<string>UPS快递查询</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ups</string>
		<key>name</key>
		<string>UPS国际快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yskd</string>
		<key>name</key>
		<string>UC优速快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>usps</string>
		<key>name</key>
		<string>USPS美国邮政</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ueq</string>
		<key>name</key>
		<string>UEQ快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>wxwl</string>
		<key>name</key>
		<string>万象物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>weitepai</string>
		<key>name</key>
		<string>微特派</string>
	</dict>
	<dict>
		<key>code</key>
		<string>wjwl</string>
		<key>name</key>
		<string>万家物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>wanboex</string>
		<key>name</key>
		<string>万博快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>xiyoutekuaidi&quot; title</string>
		<key>name</key>
		<string>希优特快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>xbwl</string>
		<key>name</key>
		<string>新邦物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>xfwl</string>
		<key>name</key>
		<string>信丰物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>newegg</string>
		<key>name</key>
		<string>新蛋物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>xianglongyuntong</string>
		<key>name</key>
		<string>祥龙运通物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>xianchengliansudi</string>
		<key>name</key>
		<string>西安城联速递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>xilaikd</string>
		<key>name</key>
		<string>喜来快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>xsrd</string>
		<key>name</key>
		<string>鑫世锐达</string>
	</dict>
	<dict>
		<key>code</key>
		<string>xtb</string>
		<key>name</key>
		<string>鑫通宝物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>xintianjie</string>
		<key>name</key>
		<string>信天捷快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>xaetc</string>
		<key>name</key>
		<string>西安胜峰</string>
	</dict>
	<dict>
		<key>code</key>
		<string>xianfeng</string>
		<key>name</key>
		<string>先锋快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sunspeedy</string>
		<key>name</key>
		<string>新速航</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yt&quot; title圆通快递查询单号</string>
		<key>name</key>
		<string>圆通速递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yd</string>
		<key>name</key>
		<string>韵达快运</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ytkd</string>
		<key>name</key>
		<string>运通快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yzgn</string>
		<key>name</key>
		<string>邮政国内</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yzgj</string>
		<key>name</key>
		<string>邮政国际</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ycwl</string>
		<key>name</key>
		<string>远成物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yfsd</string>
		<key>name</key>
		<string>亚风速递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yskd</string>
		<key>name</key>
		<string>优速快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yishunhang</string>
		<key>name</key>
		<string>亿顺航</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yfwl</string>
		<key>name</key>
		<string>越丰物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yad</string>
		<key>name</key>
		<string>源安达快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yfh</string>
		<key>name</key>
		<string>原飞航物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ems&quot; titleems快递查询</string>
		<key>name</key>
		<string>邮政EMS速递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yinjiesudi</string>
		<key>name</key>
		<string>银捷速递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yitongfeihong</string>
		<key>name</key>
		<string>一统飞鸿</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yuxinwuliu</string>
		<key>name</key>
		<string>宇鑫物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yitongda</string>
		<key>name</key>
		<string>易通达</string>
	</dict>
	<dict>
		<key>code</key>
		<string>youbijia</string>
		<key>name</key>
		<string>邮必佳</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yiqiguojiwuliu</string>
		<key>name</key>
		<string>一柒物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yinsu</string>
		<key>name</key>
		<string>音素快运</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yilingsuyun</string>
		<key>name</key>
		<string>亿领速运</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yujiawuliu</string>
		<key>name</key>
		<string>煜嘉物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gml</string>
		<key>name</key>
		<string>英脉物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>leopard</string>
		<key>name</key>
		<string>云豹国际货运</string>
	</dict>
	<dict>
		<key>code</key>
		<string>czwlyn</string>
		<key>name</key>
		<string>云南中诚</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sdyoupei</string>
		<key>name</key>
		<string>优配速运</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yongchang</string>
		<key>name</key>
		<string>永昌物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yufeng</string>
		<key>name</key>
		<string>御风速运</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yamaxunwuliu</string>
		<key>name</key>
		<string>亚马逊物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yousutongda</string>
		<key>name</key>
		<string>优速通达</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yongwangda</string>
		<key>name</key>
		<string>永旺达快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yingchao</string>
		<key>name</key>
		<string>英超物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>edlogistics</string>
		<key>name</key>
		<string>益递物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yjxlm</string>
		<key>name</key>
		<string>宜家行</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zt</string>
		<key>name</key>
		<string>中通快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zjs</string>
		<key>name</key>
		<string>宅急送</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ztky</string>
		<key>name</key>
		<string>中铁快运</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ztwl</string>
		<key>name</key>
		<string>中铁物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zywl</string>
		<key>name</key>
		<string>中邮物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>coe</string>
		<key>name</key>
		<string>中国东方(COE)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zhimakaimen</string>
		<key>name</key>
		<string>芝麻开门</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yzgn</string>
		<key>name</key>
		<string>中国邮政快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zhengzhoujianhua</string>
		<key>name</key>
		<string>郑州建华</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zhongsukuaidi</string>
		<key>name</key>
		<string>中速快件</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zhongtianwanyun</string>
		<key>name</key>
		<string>中天万运</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zhongruisudi</string>
		<key>name</key>
		<string>中睿速递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zhongwaiyun</string>
		<key>name</key>
		<string>中外运速递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zengyisudi</string>
		<key>name</key>
		<string>增益速递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sujievip</string>
		<key>name</key>
		<string>郑州速捷</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ztong</string>
		<key>name</key>
		<string>智通物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zhichengtongda</string>
		<key>name</key>
		<string>至诚通达快递</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zhdwl</string>
		<key>name</key>
		<string>众辉达物流</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kuachangwuliu</string>
		<key>name</key>
		<string>直邮易</string>
	</dict>
	<dict>
		<key>code</key>
		<string>topspeedex</string>
		<key>name</key>
		<string>中运全速</string>
	</dict>
</array>
</plist>
